@font-face {
    font-family: 'Courier New';
    src: url('subset-CourierNewPS-BoldMT.woff2') format('woff2'),
        url('subset-CourierNewPS-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: url('subset-CourierNewPS-BoldItalicMT.woff2') format('woff2'),
        url('subset-CourierNewPS-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('subset-CourierNewPS-ItalicMT.woff2') format('woff2'),
        url('subset-CourierNewPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier New';
    src: url('subset-CourierNewPSMT.woff2') format('woff2'),
        url('subset-CourierNewPSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

