$i_wm1:        "images/watermark-1.png"
$i_wm2:        "images/watermark-2.png"
$i_wm3:        "images/watermark-3.png"
$i_wm4:        "images/watermark-4.png"
$i_fl1:        "images/flower-1.png"
$i_fl2:        "images/flower-2.png"
$i_fl3:        "images/flower-3.png"
$i_fl4:        "images/flower-4.png"
$i_btn:        "images/btn.png"
$i_leaves_l:   "images/leaves-l.png"
$i_leaves_r:   "images/leaves-r.png"
$i_back:       "images/back.jpg"


$r: 0.7

$container_width: 550px

@function w($img)
  @return $r * image-width($img)

@function h($img)
  @return $r * image-height($img)

=img($img)
  background: url($img) top left no-repeat
  background-size: w($img) h($img)

=imgf($img)
  +img($img)
  width: w($img)
  height: h($img)

body
  background: url($i_back)
  margin: 0
  overflow-x: hidden
  background-size: w($i_back) h($i_back)
  font-family: 'Courier New'
  font-size: 18px

.sidebar
  height: 100%
  position: absolute
  top: 0
  bottom: 0

.sidebar-l
  background: url($i_leaves_l) top right no-repeat
  left: - w($i_leaves_l)
  width: w($i_leaves_l)
  background-size: w($i_leaves_l) h($i_leaves_l)

.sidebar-r
  background: url($i_leaves_r) top right no-repeat
  right: - w($i_leaves_r)
  width: w($i_leaves_r)
  background-size: w($i_leaves_r) h($i_leaves_r)

.center
  /* display: inline-block;
  border: 2px #98978b
  border-style: hidden solid solid solid
  margin: 0 20px
  height: auto
  padding: 20px
  padding-top: 60px

.container
  position: relative
  margin: 0 auto
  width: $container_width
  padding-bottom: 25px

.label
  text-align: center
  a
    color: black
    text-decoration: none
    width: 100%
    height: 100%
    display: block

.bg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1

.btn
  width: w($i_btn)
  height: h($i_btn)
  position: relative
  display: inline-block
  padding: 0 2px
  .bg
    background: url($i_btn) no-repeat
    background-size: w($i_btn) h($i_btn)
    opacity: 0.5
  &:hover .bg
    opacity: 1.0
  .label
    font-weight: bold
    line-height: h($i_btn)
    font-size: 15px


.btn-container
  text-align: center
  position: fixed
  top: 0
  bottom: 0
  height: h($i_btn) + 2px
  width: 100%
  z-index: 3
  > .bg > *
    background: url($i_back)
    background-size: w($i_back) h($i_back)
    opacity: 0.95
    width: $container_width - 50px
    display: inline-block
    height: 100%

$j_pad: 40px
$j_w1_padt: 53px
$j_w2_padt: 50px
$j_w3_padl: 135px
$j_w3_padt: 35px
$j_w4_padl: 20px
$j_w4_padr: 100px

.jumbo
  text-align: center
  position: relative
  margin: 15px auto 0 auto
  padding: 0 $j_pad
  &.title
    margin: 7px 0 7px 0
    font-style: italic
    font-size: 30px
  &.w1
    width: w($i_wm1) - 2 * $j_pad
    height: h($i_wm1) - $j_w1_padt
    margin-top: 0
    padding-top: $j_w1_padt
    .bg
      +img($i_wm1)
      opacity: 0.5
    .label
      font-style: italic
      font-size: 40px
      font-weight: bold
      line-height: 60px
  &.w2
    width: w($i_wm2) - 2 * $j_pad
    height: h($i_wm2) - $j_w2_padt
    padding-top: $j_w2_padt
    margin-top: 50px
    .bg
      +img($i_wm2)
      opacity: 0.5
  &.w3
    width: w($i_wm2) - $j_pad - $j_w3_padl
    height: h($i_wm3) - $j_w3_padt
    padding-left: $j_w3_padl
    padding-top: $j_w3_padt
    .bg
      +img($i_wm3)
      opacity: 0.5
  &.w4
    width: w($i_wm4) - $j_w4_padr - $j_w4_padl
    height: h($i_wm4)
    padding-left: 20px
    padding-right: 100px
    .bg
      +img($i_wm4)
      opacity: 0.5
    .label
      font-size: 32px
      font-weight: bold
      line-height: 30px
      padding: 72px 0
  &.w5
    margin-top: 50px


.purple
  color: purple

.green
  color: green

.flower-1
  +imgf($i_fl1)
  margin: 10px auto
.flower-2
  +imgf($i_fl2)
  margin: 10px auto
.flower-3
  +imgf($i_fl3)
  position: absolute
  top: 27px
  left: 30px
.flower-4
  +imgf($i_fl4)
  position: absolute
  top: 27px
  right: 40px

.emph
  font-size: 20px
  font-weight: bold

.date-title
  font-size: 45px
  font-weight: bold
  font-style: italic

.title
  margin-top: 10px
  font-size: 25px
  font-weight: bold

.dots
  margin: 10px 0
  text-align: center

.dot
  height: 40px
  width: 40px
  background-color: #bbb
  border-radius: 50%
  display: inline-block
  &.c1
    background-color: #780070
  &.c2
    background-color: #d64498
  &.c3
    background-color: #f7769b
  &.c4
    background-color: #e395c0
  &.c5
    background-color: #ffb0c0
  &.c6
    background-color: #fae6d9


.contact
  width: 350px
  margin: 0 auto
  line-height: 40px
  height: 40px
  font-size: 20px
  .data
    float: right
  .name
    float: left
    font-weight: bold

.halfbr
  margin-top: 6px

ul
  list-style: none outside none
  padding-left: 0
  margin-bottom: 0

li
  display: block
  float: left
  margin-right: 6px
  cursor: pointer

img
  display: block
  height: auto
  max-width: 100%
