/* line 43, sass/styles.sass */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Courier New", monoscape;
}

/* line 47, sass/styles.sass */
.btn-container {
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

/* line 54, sass/styles.sass */
.sidebar {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 60, sass/styles.sass */
.label {
  text-align: center;
}
/* line 62, sass/styles.sass */
.label a {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 67, sass/styles.sass */
a {
  color: black;
  text-decoration: none;
}

/* line 71, sass/styles.sass */
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media only screen and (min-width: 1300px) {
  /* line 82, sass/styles.sass */
  body {
    background: url("images/back.jpg");
    background-size: 773.22px 690.9px;
    font-size: 25.2px;
  }

  /* line 87, sass/styles.sass */
  .sidebar-l {
    background: url("images/leaves-l.png") top right no-repeat;
    left: -298.9px;
    width: 298.9px;
    background-size: 298.9px 3689.7px;
  }

  /* line 93, sass/styles.sass */
  .sidebar-r {
    background: url("images/leaves-r.png") top left no-repeat;
    right: -315.56px;
    width: 315.56px;
    background-size: 315.56px 3687.74px;
  }

  /* line 99, sass/styles.sass */
  .center {
    border: 2.8px #98978b;
    border-style: hidden solid solid solid;
    margin: 0 28px;
    height: auto;
    padding: 28px;
    padding-top: 84px;
  }

  /* line 107, sass/styles.sass */
  .container {
    position: relative;
    margin: 0 auto;
    width: 700px;
    padding-bottom: 35px;
  }

  /* line 113, sass/styles.sass */
  .btn {
    width: 193.06px;
    height: 65.66px;
    position: relative;
    display: inline-block;
    padding: 0 2.8px;
  }
  /* line 119, sass/styles.sass */
  .btn .bg {
    background: url("images/btn.png") no-repeat;
    background-size: 193.06px 65.66px;
    opacity: 0.5;
  }
  /* line 123, sass/styles.sass */
  .btn:hover .bg {
    opacity: 1;
  }
  /* line 125, sass/styles.sass */
  .btn .label {
    font-weight: bold;
    line-height: 65.66px;
    font-size: 21px;
  }

  /* line 131, sass/styles.sass */
  .btn-container {
    height: 68.46px;
  }
  /* line 133, sass/styles.sass */
  .btn-container > .bg > * {
    background: url("images/back.jpg");
    background-size: 773.22px 690.9px;
    opacity: 0.95;
    width: 588px;
    display: inline-block;
    height: 100%;
  }

  /* line 142, sass/styles.sass */
  .jumbo {
    text-align: center;
    position: relative;
    margin: 21px auto 0 auto;
    padding: 0 0px;
  }
  /* line 147, sass/styles.sass */
  .jumbo.title {
    margin: 9.8px 0 19.6px 0;
    font-style: italic;
    font-size: 42px;
  }
  /* line 151, sass/styles.sass */
  .jumbo.w1 {
    width: 528.22px;
    height: 223.72px;
    margin-top: 0;
    padding-top: 74.2px;
  }
  /* line 157, sass/styles.sass */
  .jumbo.w1 > .bg {
    background: url("images/watermark-1.png") top left no-repeat;
    background-size: 528.22px 297.92px;
    opacity: 0.5;
  }
  /* line 160, sass/styles.sass */
  .jumbo.w1 .label {
    font-style: italic;
    font-size: 56px;
    font-weight: bold;
    line-height: 84px;
  }
  /* line 165, sass/styles.sass */
  .jumbo.w2 {
    width: 504px;
    height: 655.34px;
    padding: 53.2px 42px 0 42px;
    margin-top: 70px;
  }
  /* line 172, sass/styles.sass */
  .jumbo.w2 > .bg {
    background: url("images/watermark-2.png") top left no-repeat;
    background-size: 588px 708.54px;
    opacity: 0.5;
  }
  /* line 175, sass/styles.sass */
  .jumbo.w3 {
    width: 350px;
    height: 153.86px;
    padding-left: 196px;
    padding-top: 49px;
    padding-right: 42px;
  }
  /* line 184, sass/styles.sass */
  .jumbo.w3 > .bg {
    background: url("images/watermark-3.png") top left no-repeat;
    background-size: 608.58px 202.86px;
    opacity: 0.5;
  }
  /* line 187, sass/styles.sass */
  .jumbo.w4 {
    width: 451.36px;
    height: 239.12px;
    padding-left: 28px;
    padding-right: 140px;
  }
  /* line 194, sass/styles.sass */
  .jumbo.w4 > .bg {
    background: url("images/watermark-4.png") top left no-repeat;
    background-size: 619.36px 239.12px;
    opacity: 0.5;
  }
  /* line 197, sass/styles.sass */
  .jumbo.w4 .label {
    font-size: 44.8px;
    font-weight: bold;
    line-height: 42px;
    padding: 100.8px 0;
  }
  /* line 202, sass/styles.sass */
  .jumbo.w5 {
    margin-top: 70px;
  }

  /* line 206, sass/styles.sass */
  .purple {
    color: purple;
  }

  /* line 209, sass/styles.sass */
  .green {
    color: green;
  }

  /* line 212, sass/styles.sass */
  .flower-1 {
    background: url("images/flower-1.png") top left no-repeat;
    background-size: 163.66px 99.96px;
    width: 163.66px;
    height: 99.96px;
    margin: 14px auto;
  }

  /* line 215, sass/styles.sass */
  .flower-2 {
    background: url("images/flower-2.png") top left no-repeat;
    background-size: 99.96px 84.28px;
    width: 99.96px;
    height: 84.28px;
    margin: 14px auto;
  }

  /* line 218, sass/styles.sass */
  .flower-3 {
    background: url("images/flower-3.png") top left no-repeat;
    background-size: 142.884px 115.542px;
    width: 142.884px;
    height: 115.542px;
    position: absolute;
    top: 46.2px;
    left: 46.2px;
  }

  /* line 223, sass/styles.sass */
  .flower-4 {
    background: url("images/flower-4.png") top left no-repeat;
    background-size: 154.84px 172.48px;
    width: 154.84px;
    height: 172.48px;
    position: absolute;
    top: 37.8px;
    right: 56px;
  }

  /* line 229, sass/styles.sass */
  .emph {
    font-size: 28px;
    font-weight: bold;
  }

  /* line 233, sass/styles.sass */
  .date-title {
    font-size: 63px;
    font-weight: bold;
    font-style: italic;
  }

  /* line 238, sass/styles.sass */
  .title {
    margin: 14px auto 9.8px auto;
    font-size: 35px;
    font-weight: bold;
  }

  /* line 243, sass/styles.sass */
  .dots {
    margin: 14px 0;
    text-align: center;
  }

  /* line 247, sass/styles.sass */
  .dot {
    height: 49px;
    width: 49px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  /* line 253, sass/styles.sass */
  .dot.c1 {
    background-color: #780070;
  }
  /* line 255, sass/styles.sass */
  .dot.c2 {
    background-color: #d64498;
  }
  /* line 257, sass/styles.sass */
  .dot.c3 {
    background-color: #f7769b;
  }
  /* line 259, sass/styles.sass */
  .dot.c4 {
    background-color: #e395c0;
  }
  /* line 261, sass/styles.sass */
  .dot.c5 {
    background-color: #ffb0c0;
  }
  /* line 263, sass/styles.sass */
  .dot.c6 {
    background-color: #fae6d9;
  }

  /* line 267, sass/styles.sass */
  .contact {
    /* width: (350px * $r) */
    margin: 0 auto;
    line-height: 56px;
    height: 56px;
    font-size: 28px;
  }
  /* line 273, sass/styles.sass */
  .contact .data {
    display: inline-block;
  }
  /* line 276, sass/styles.sass */
  .contact .name {
    width: 196px;
    float: left;
    font-weight: bold;
  }
  /* line 280, sass/styles.sass */
  .contact .vk {
    float: right;
  }
  /* line 282, sass/styles.sass */
  .contact .vk > a {
    display: inline-block;
    background: url("images/vk.png") top left no-repeat;
    background-size: 31.36px 18.032px;
    width: 31.36px;
    height: 18.032px;
  }

  /* line 286, sass/styles.sass */
  .halfbr {
    margin-top: 8.4px;
  }

  /* line 289, sass/styles.sass */
  .photo-container {
    width: 624.4px;
    margin-left: -21px;
  }
  /* line 294, sass/styles.sass */
  .photo-container ul.photoes {
    max-height: 326.66667px;
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
  }
  /* line 299, sass/styles.sass */
  .photo-container ul.photoes.lSliderOn li:not(:first-child) {
    display: block;
  }
  /* line 301, sass/styles.sass */
  .photo-container ul.photoes li {
    cursor: pointer;
    text-align: center;
  }
  /* line 304, sass/styles.sass */
  .photo-container ul.photoes li:first-child {
    display: block;
  }
  /* line 306, sass/styles.sass */
  .photo-container ul.photoes li:not(:first-child) {
    display: none;
  }
  /* line 308, sass/styles.sass */
  .photo-container ul.photoes li .img {
    width: 490px;
    height: 326.66667px;
    position: relative;
    display: inline-block;
  }
  /* line 313, sass/styles.sass */
  .photo-container ul.photoes li .img .bg {
    background: url("images/frame.png") top left no-repeat;
    background-size: 490px 326.66667px;
    width: 490px;
    height: 326.66667px;
    z-index: 1;
  }
  /* line 316, sass/styles.sass */
  .photo-container ul.photoes li .img img {
    width: 485.8px;
    height: 323.86667px;
  }
  /* line 321, sass/styles.sass */
  .photo-container .lSSlideOuter .lSPager.lSGallery img {
    width: 203px;
    height: 135.33333px;
  }
  /* line 325, sass/styles.sass */
  .photo-container .lSAction > .lSPrev {
    background: url("images/arrow-l.png") top left no-repeat;
    background-size: 67.62px 58.8px;
    width: 67.62px;
    height: 58.8px;
    left: 0;
    background-position: 0 0;
  }
  /* line 329, sass/styles.sass */
  .photo-container .lSAction > .lSNext {
    background: url("images/arrow-r.png") top left no-repeat;
    background-size: 67.62px 58.8px;
    width: 67.62px;
    height: 58.8px;
    right: 0;
    background-position: 0 0;
  }

  /* line 334, sass/styles.sass */
  .katya-text {
    text-align: center;
    padding: 0 7px;
  }

  /* line 337, sass/styles.sass */
  a.geo {
    display: inline-block;
    padding-left: 32.2px;
    position: relative;
  }
  /* line 341, sass/styles.sass */
  a.geo > .bg {
    opacity: 1;
    z-index: 1;
    background: url("images/geo.png") top left no-repeat;
    background-size: 25.2px 25.2px;
    width: 25.2px;
    height: 25.2px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  /* line 82, sass/styles.sass */
  body {
    background: url("images/back.jpg");
    background-size: 662.76px 592.2px;
    font-size: 21.6px;
  }

  /* line 87, sass/styles.sass */
  .sidebar-l {
    background: url("images/leaves-l.png") top right no-repeat;
    left: -256.2px;
    width: 256.2px;
    background-size: 256.2px 3162.6px;
  }

  /* line 93, sass/styles.sass */
  .sidebar-r {
    background: url("images/leaves-r.png") top left no-repeat;
    right: -270.48px;
    width: 270.48px;
    background-size: 270.48px 3160.92px;
  }

  /* line 99, sass/styles.sass */
  .center {
    border: 2.4px #98978b;
    border-style: hidden solid solid solid;
    margin: 0 24px;
    height: auto;
    padding: 24px;
    padding-top: 72px;
  }

  /* line 107, sass/styles.sass */
  .container {
    position: relative;
    margin: 0 auto;
    width: 600px;
    padding-bottom: 30px;
  }

  /* line 113, sass/styles.sass */
  .btn {
    width: 165.48px;
    height: 56.28px;
    position: relative;
    display: inline-block;
    padding: 0 2.4px;
  }
  /* line 119, sass/styles.sass */
  .btn .bg {
    background: url("images/btn.png") no-repeat;
    background-size: 165.48px 56.28px;
    opacity: 0.5;
  }
  /* line 123, sass/styles.sass */
  .btn:hover .bg {
    opacity: 1;
  }
  /* line 125, sass/styles.sass */
  .btn .label {
    font-weight: bold;
    line-height: 56.28px;
    font-size: 18px;
  }

  /* line 131, sass/styles.sass */
  .btn-container {
    height: 58.68px;
  }
  /* line 133, sass/styles.sass */
  .btn-container > .bg > * {
    background: url("images/back.jpg");
    background-size: 662.76px 592.2px;
    opacity: 0.95;
    width: 504px;
    display: inline-block;
    height: 100%;
  }

  /* line 142, sass/styles.sass */
  .jumbo {
    text-align: center;
    position: relative;
    margin: 18px auto 0 auto;
    padding: 0 0px;
  }
  /* line 147, sass/styles.sass */
  .jumbo.title {
    margin: 8.4px 0 16.8px 0;
    font-style: italic;
    font-size: 36px;
  }
  /* line 151, sass/styles.sass */
  .jumbo.w1 {
    width: 452.76px;
    height: 191.76px;
    margin-top: 0;
    padding-top: 63.6px;
  }
  /* line 157, sass/styles.sass */
  .jumbo.w1 > .bg {
    background: url("images/watermark-1.png") top left no-repeat;
    background-size: 452.76px 255.36px;
    opacity: 0.5;
  }
  /* line 160, sass/styles.sass */
  .jumbo.w1 .label {
    font-style: italic;
    font-size: 48px;
    font-weight: bold;
    line-height: 72px;
  }
  /* line 165, sass/styles.sass */
  .jumbo.w2 {
    width: 432px;
    height: 561.72px;
    padding: 45.6px 36px 0 36px;
    margin-top: 60px;
  }
  /* line 172, sass/styles.sass */
  .jumbo.w2 > .bg {
    background: url("images/watermark-2.png") top left no-repeat;
    background-size: 504px 607.32px;
    opacity: 0.5;
  }
  /* line 175, sass/styles.sass */
  .jumbo.w3 {
    width: 300px;
    height: 131.88px;
    padding-left: 168px;
    padding-top: 42px;
    padding-right: 36px;
  }
  /* line 184, sass/styles.sass */
  .jumbo.w3 > .bg {
    background: url("images/watermark-3.png") top left no-repeat;
    background-size: 521.64px 173.88px;
    opacity: 0.5;
  }
  /* line 187, sass/styles.sass */
  .jumbo.w4 {
    width: 386.88px;
    height: 204.96px;
    padding-left: 24px;
    padding-right: 120px;
  }
  /* line 194, sass/styles.sass */
  .jumbo.w4 > .bg {
    background: url("images/watermark-4.png") top left no-repeat;
    background-size: 530.88px 204.96px;
    opacity: 0.5;
  }
  /* line 197, sass/styles.sass */
  .jumbo.w4 .label {
    font-size: 38.4px;
    font-weight: bold;
    line-height: 36px;
    padding: 86.4px 0;
  }
  /* line 202, sass/styles.sass */
  .jumbo.w5 {
    margin-top: 60px;
  }

  /* line 206, sass/styles.sass */
  .purple {
    color: purple;
  }

  /* line 209, sass/styles.sass */
  .green {
    color: green;
  }

  /* line 212, sass/styles.sass */
  .flower-1 {
    background: url("images/flower-1.png") top left no-repeat;
    background-size: 140.28px 85.68px;
    width: 140.28px;
    height: 85.68px;
    margin: 12px auto;
  }

  /* line 215, sass/styles.sass */
  .flower-2 {
    background: url("images/flower-2.png") top left no-repeat;
    background-size: 85.68px 72.24px;
    width: 85.68px;
    height: 72.24px;
    margin: 12px auto;
  }

  /* line 218, sass/styles.sass */
  .flower-3 {
    background: url("images/flower-3.png") top left no-repeat;
    background-size: 122.472px 99.036px;
    width: 122.472px;
    height: 99.036px;
    position: absolute;
    top: 39.6px;
    left: 39.6px;
  }

  /* line 223, sass/styles.sass */
  .flower-4 {
    background: url("images/flower-4.png") top left no-repeat;
    background-size: 132.72px 147.84px;
    width: 132.72px;
    height: 147.84px;
    position: absolute;
    top: 32.4px;
    right: 48px;
  }

  /* line 229, sass/styles.sass */
  .emph {
    font-size: 24px;
    font-weight: bold;
  }

  /* line 233, sass/styles.sass */
  .date-title {
    font-size: 54px;
    font-weight: bold;
    font-style: italic;
  }

  /* line 238, sass/styles.sass */
  .title {
    margin: 12px auto 8.4px auto;
    font-size: 30px;
    font-weight: bold;
  }

  /* line 243, sass/styles.sass */
  .dots {
    margin: 12px 0;
    text-align: center;
  }

  /* line 247, sass/styles.sass */
  .dot {
    height: 42px;
    width: 42px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  /* line 253, sass/styles.sass */
  .dot.c1 {
    background-color: #780070;
  }
  /* line 255, sass/styles.sass */
  .dot.c2 {
    background-color: #d64498;
  }
  /* line 257, sass/styles.sass */
  .dot.c3 {
    background-color: #f7769b;
  }
  /* line 259, sass/styles.sass */
  .dot.c4 {
    background-color: #e395c0;
  }
  /* line 261, sass/styles.sass */
  .dot.c5 {
    background-color: #ffb0c0;
  }
  /* line 263, sass/styles.sass */
  .dot.c6 {
    background-color: #fae6d9;
  }

  /* line 267, sass/styles.sass */
  .contact {
    /* width: (350px * $r) */
    margin: 0 auto;
    line-height: 48px;
    height: 48px;
    font-size: 24px;
  }
  /* line 273, sass/styles.sass */
  .contact .data {
    display: inline-block;
  }
  /* line 276, sass/styles.sass */
  .contact .name {
    width: 168px;
    float: left;
    font-weight: bold;
  }
  /* line 280, sass/styles.sass */
  .contact .vk {
    float: right;
  }
  /* line 282, sass/styles.sass */
  .contact .vk > a {
    display: inline-block;
    background: url("images/vk.png") top left no-repeat;
    background-size: 26.88px 15.456px;
    width: 26.88px;
    height: 15.456px;
  }

  /* line 286, sass/styles.sass */
  .halfbr {
    margin-top: 7.2px;
  }

  /* line 289, sass/styles.sass */
  .photo-container {
    width: 535.2px;
    margin-left: -18px;
  }
  /* line 294, sass/styles.sass */
  .photo-container ul.photoes {
    max-height: 280px;
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
  }
  /* line 299, sass/styles.sass */
  .photo-container ul.photoes.lSliderOn li:not(:first-child) {
    display: block;
  }
  /* line 301, sass/styles.sass */
  .photo-container ul.photoes li {
    cursor: pointer;
    text-align: center;
  }
  /* line 304, sass/styles.sass */
  .photo-container ul.photoes li:first-child {
    display: block;
  }
  /* line 306, sass/styles.sass */
  .photo-container ul.photoes li:not(:first-child) {
    display: none;
  }
  /* line 308, sass/styles.sass */
  .photo-container ul.photoes li .img {
    width: 420px;
    height: 280px;
    position: relative;
    display: inline-block;
  }
  /* line 313, sass/styles.sass */
  .photo-container ul.photoes li .img .bg {
    background: url("images/frame.png") top left no-repeat;
    background-size: 420px 280px;
    width: 420px;
    height: 280px;
    z-index: 1;
  }
  /* line 316, sass/styles.sass */
  .photo-container ul.photoes li .img img {
    width: 416.4px;
    height: 277.6px;
  }
  /* line 321, sass/styles.sass */
  .photo-container .lSSlideOuter .lSPager.lSGallery img {
    width: 174px;
    height: 116px;
  }
  /* line 325, sass/styles.sass */
  .photo-container .lSAction > .lSPrev {
    background: url("images/arrow-l.png") top left no-repeat;
    background-size: 57.96px 50.4px;
    width: 57.96px;
    height: 50.4px;
    left: 0;
    background-position: 0 0;
  }
  /* line 329, sass/styles.sass */
  .photo-container .lSAction > .lSNext {
    background: url("images/arrow-r.png") top left no-repeat;
    background-size: 57.96px 50.4px;
    width: 57.96px;
    height: 50.4px;
    right: 0;
    background-position: 0 0;
  }

  /* line 334, sass/styles.sass */
  .katya-text {
    text-align: center;
    padding: 0 6px;
  }

  /* line 337, sass/styles.sass */
  a.geo {
    display: inline-block;
    padding-left: 27.6px;
    position: relative;
  }
  /* line 341, sass/styles.sass */
  a.geo > .bg {
    opacity: 1;
    z-index: 1;
    background: url("images/geo.png") top left no-repeat;
    background-size: 21.6px 21.6px;
    width: 21.6px;
    height: 21.6px;
  }
}
@media only screen and (max-width: 1099px) {
  /* line 82, sass/styles.sass */
  body {
    background: url("images/back.jpg");
    background-size: 552.3px 493.5px;
    font-size: 18px;
  }

  /* line 87, sass/styles.sass */
  .sidebar-l {
    background: url("images/leaves-l.png") top right no-repeat;
    left: -213.5px;
    width: 213.5px;
    background-size: 213.5px 2635.5px;
  }

  /* line 93, sass/styles.sass */
  .sidebar-r {
    background: url("images/leaves-r.png") top left no-repeat;
    right: -225.4px;
    width: 225.4px;
    background-size: 225.4px 2634.1px;
  }

  /* line 99, sass/styles.sass */
  .center {
    border: 2px #98978b;
    border-style: hidden solid solid solid;
    margin: 0 20px;
    height: auto;
    padding: 20px;
    padding-top: 60px;
  }

  /* line 107, sass/styles.sass */
  .container {
    position: relative;
    margin: 0 auto;
    width: 500px;
    padding-bottom: 25px;
  }

  /* line 113, sass/styles.sass */
  .btn {
    width: 137.9px;
    height: 46.9px;
    position: relative;
    display: inline-block;
    padding: 0 2px;
  }
  /* line 119, sass/styles.sass */
  .btn .bg {
    background: url("images/btn.png") no-repeat;
    background-size: 137.9px 46.9px;
    opacity: 0.5;
  }
  /* line 123, sass/styles.sass */
  .btn:hover .bg {
    opacity: 1;
  }
  /* line 125, sass/styles.sass */
  .btn .label {
    font-weight: bold;
    line-height: 46.9px;
    font-size: 15px;
  }

  /* line 131, sass/styles.sass */
  .btn-container {
    height: 48.9px;
  }
  /* line 133, sass/styles.sass */
  .btn-container > .bg > * {
    background: url("images/back.jpg");
    background-size: 552.3px 493.5px;
    opacity: 0.95;
    width: 420px;
    display: inline-block;
    height: 100%;
  }

  /* line 142, sass/styles.sass */
  .jumbo {
    text-align: center;
    position: relative;
    margin: 15px auto 0 auto;
    padding: 0 0px;
  }
  /* line 147, sass/styles.sass */
  .jumbo.title {
    margin: 7px 0 14px 0;
    font-style: italic;
    font-size: 30px;
  }
  /* line 151, sass/styles.sass */
  .jumbo.w1 {
    width: 377.3px;
    height: 159.8px;
    margin-top: 0;
    padding-top: 53px;
  }
  /* line 157, sass/styles.sass */
  .jumbo.w1 > .bg {
    background: url("images/watermark-1.png") top left no-repeat;
    background-size: 377.3px 212.8px;
    opacity: 0.5;
  }
  /* line 160, sass/styles.sass */
  .jumbo.w1 .label {
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
  }
  /* line 165, sass/styles.sass */
  .jumbo.w2 {
    width: 360px;
    height: 468.1px;
    padding: 38px 30px 0 30px;
    margin-top: 50px;
  }
  /* line 172, sass/styles.sass */
  .jumbo.w2 > .bg {
    background: url("images/watermark-2.png") top left no-repeat;
    background-size: 420px 506.1px;
    opacity: 0.5;
  }
  /* line 175, sass/styles.sass */
  .jumbo.w3 {
    width: 250px;
    height: 109.9px;
    padding-left: 140px;
    padding-top: 35px;
    padding-right: 30px;
  }
  /* line 184, sass/styles.sass */
  .jumbo.w3 > .bg {
    background: url("images/watermark-3.png") top left no-repeat;
    background-size: 434.7px 144.9px;
    opacity: 0.5;
  }
  /* line 187, sass/styles.sass */
  .jumbo.w4 {
    width: 322.4px;
    height: 170.8px;
    padding-left: 20px;
    padding-right: 100px;
  }
  /* line 194, sass/styles.sass */
  .jumbo.w4 > .bg {
    background: url("images/watermark-4.png") top left no-repeat;
    background-size: 442.4px 170.8px;
    opacity: 0.5;
  }
  /* line 197, sass/styles.sass */
  .jumbo.w4 .label {
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    padding: 72px 0;
  }
  /* line 202, sass/styles.sass */
  .jumbo.w5 {
    margin-top: 50px;
  }

  /* line 206, sass/styles.sass */
  .purple {
    color: purple;
  }

  /* line 209, sass/styles.sass */
  .green {
    color: green;
  }

  /* line 212, sass/styles.sass */
  .flower-1 {
    background: url("images/flower-1.png") top left no-repeat;
    background-size: 116.9px 71.4px;
    width: 116.9px;
    height: 71.4px;
    margin: 10px auto;
  }

  /* line 215, sass/styles.sass */
  .flower-2 {
    background: url("images/flower-2.png") top left no-repeat;
    background-size: 71.4px 60.2px;
    width: 71.4px;
    height: 60.2px;
    margin: 10px auto;
  }

  /* line 218, sass/styles.sass */
  .flower-3 {
    background: url("images/flower-3.png") top left no-repeat;
    background-size: 102.06px 82.53px;
    width: 102.06px;
    height: 82.53px;
    position: absolute;
    top: 33px;
    left: 33px;
  }

  /* line 223, sass/styles.sass */
  .flower-4 {
    background: url("images/flower-4.png") top left no-repeat;
    background-size: 110.6px 123.2px;
    width: 110.6px;
    height: 123.2px;
    position: absolute;
    top: 27px;
    right: 40px;
  }

  /* line 229, sass/styles.sass */
  .emph {
    font-size: 20px;
    font-weight: bold;
  }

  /* line 233, sass/styles.sass */
  .date-title {
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
  }

  /* line 238, sass/styles.sass */
  .title {
    margin: 10px auto 7px auto;
    font-size: 25px;
    font-weight: bold;
  }

  /* line 243, sass/styles.sass */
  .dots {
    margin: 10px 0;
    text-align: center;
  }

  /* line 247, sass/styles.sass */
  .dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  /* line 253, sass/styles.sass */
  .dot.c1 {
    background-color: #780070;
  }
  /* line 255, sass/styles.sass */
  .dot.c2 {
    background-color: #d64498;
  }
  /* line 257, sass/styles.sass */
  .dot.c3 {
    background-color: #f7769b;
  }
  /* line 259, sass/styles.sass */
  .dot.c4 {
    background-color: #e395c0;
  }
  /* line 261, sass/styles.sass */
  .dot.c5 {
    background-color: #ffb0c0;
  }
  /* line 263, sass/styles.sass */
  .dot.c6 {
    background-color: #fae6d9;
  }

  /* line 267, sass/styles.sass */
  .contact {
    /* width: (350px * $r) */
    margin: 0 auto;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }
  /* line 273, sass/styles.sass */
  .contact .data {
    display: inline-block;
  }
  /* line 276, sass/styles.sass */
  .contact .name {
    width: 140px;
    float: left;
    font-weight: bold;
  }
  /* line 280, sass/styles.sass */
  .contact .vk {
    float: right;
  }
  /* line 282, sass/styles.sass */
  .contact .vk > a {
    display: inline-block;
    background: url("images/vk.png") top left no-repeat;
    background-size: 22.4px 12.88px;
    width: 22.4px;
    height: 12.88px;
  }

  /* line 286, sass/styles.sass */
  .halfbr {
    margin-top: 6px;
  }

  /* line 289, sass/styles.sass */
  .photo-container {
    width: 446px;
    margin-left: -15px;
  }
  /* line 294, sass/styles.sass */
  .photo-container ul.photoes {
    max-height: 233.33333px;
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
  }
  /* line 299, sass/styles.sass */
  .photo-container ul.photoes.lSliderOn li:not(:first-child) {
    display: block;
  }
  /* line 301, sass/styles.sass */
  .photo-container ul.photoes li {
    cursor: pointer;
    text-align: center;
  }
  /* line 304, sass/styles.sass */
  .photo-container ul.photoes li:first-child {
    display: block;
  }
  /* line 306, sass/styles.sass */
  .photo-container ul.photoes li:not(:first-child) {
    display: none;
  }
  /* line 308, sass/styles.sass */
  .photo-container ul.photoes li .img {
    width: 350px;
    height: 233.33333px;
    position: relative;
    display: inline-block;
  }
  /* line 313, sass/styles.sass */
  .photo-container ul.photoes li .img .bg {
    background: url("images/frame.png") top left no-repeat;
    background-size: 350px 233.33333px;
    width: 350px;
    height: 233.33333px;
    z-index: 1;
  }
  /* line 316, sass/styles.sass */
  .photo-container ul.photoes li .img img {
    width: 347px;
    height: 231.33333px;
  }
  /* line 321, sass/styles.sass */
  .photo-container .lSSlideOuter .lSPager.lSGallery img {
    width: 145px;
    height: 96.66667px;
  }
  /* line 325, sass/styles.sass */
  .photo-container .lSAction > .lSPrev {
    background: url("images/arrow-l.png") top left no-repeat;
    background-size: 48.3px 42px;
    width: 48.3px;
    height: 42px;
    left: 0;
    background-position: 0 0;
  }
  /* line 329, sass/styles.sass */
  .photo-container .lSAction > .lSNext {
    background: url("images/arrow-r.png") top left no-repeat;
    background-size: 48.3px 42px;
    width: 48.3px;
    height: 42px;
    right: 0;
    background-position: 0 0;
  }

  /* line 334, sass/styles.sass */
  .katya-text {
    text-align: center;
    padding: 0 5px;
  }

  /* line 337, sass/styles.sass */
  a.geo {
    display: inline-block;
    padding-left: 23px;
    position: relative;
  }
  /* line 341, sass/styles.sass */
  a.geo > .bg {
    opacity: 1;
    z-index: 1;
    background: url("images/geo.png") top left no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
  }
}
